#nav {
   display: flex;
   justify-content: space-between;
   max-width: 1323px;
   align-items: center;
   margin: auto;
   .nav-logo{
       margin-top: 19px;
   }
   .navbar-item{

        margin: 0 10px;

        a{
            color: $nav-text-color ;
            font-size: 0.875rem;
            font-weight: 500;
            position: relative;

           &:hover {
               color: $nav-text-color-active;
           }
                 
            &.active-link {
                color: $nav-text-color-active;
                
                &::after{
                    position: absolute;
                    content: '';
                    width: 18px;
                    height: 3px;
                    background-color: $primary-color;
                    left: 7px;
                    bottom: 0;
                    border-radius: 2px;
                }
            }
        }

        
   }
  
   .nav-btn{
       background-color: $primary-color;
       color: #fff;
       border-radius: 8px;
       padding: 10px 15px;
       font-weight: 500;
        outline: none;
       &:hover {
           background-color: #e96817;
       }
       &:hover , &:visited , &:active {
        @include outline-0;
    }
   }
}
 

.navbar-expand-md .navbar-toggler {
   border-radius: 4px;
    background: #efefef;
    color: #000;
    box-shadow: rgba(0,0,0,.4);
    padding: 6px 10px;
     
    span{
         
        background-color: gb(37, 37, 3r7);
        font-size: 16px;
    }
}


// ---------------------- RESPONSIVE -------------------------
@media screen and (max-width:765px) {
    #nav {
        background-color: #eaeaea;
        position: sticky;
        .navbar-item a.active-link{
            color: $primary-color;

            &::after {
                width: 0;
            }
        }

        .navbar-brand {
            padding: 0 !important;
        }
    }
}